<html>
    <head>
        <title>Desafio 01 - GoNode</title>
    </head>
    <body>

       <form action="check" method="POST">
            <input type="text" name="name" />
            <input type="date" name="birthday" />

            <button type="submit">Entrar</button>
       </form>

    </body>
</html>
